reading/*.pdf
.Rproj.user

.DS_Store

.Rhistory

Milestone_1/data/

Thesis/data/

Milestone_1/_bookdown_files/

Milestone_1/thesis.log

Milestone_presentation_1/Milestone_presentation_1/data/

paper_comparsion/paper_comparision/paper_comparision_files/

paper_comparsion/data/cv/

paper_comparison/data/processed/sim_conv_result.csv

Third_experiment/plots/

Third_experiment/test.html

Third_experiment/test.Rmd
