.pull-left-full {
/*  background-color: #006DAE; */
  margin: 0;
  padding: 0;
  float: left;
  width: 47%;
  height: 100%;
}

.pull-left-center {
  float: left;
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-left-center-90 {
  float: left;
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-left-center-80 {
  float: left;
  width: 37%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-left-center-60 {
  float: left;
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-right-center {
  float: right;
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-right-center-80 {
  float: right;
  width: 37%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pull-right-120 {
  float: right;
  width: 57%;
}

.pull-right-110 {
  float: right;
  width: 52%;
}

.pull-right-60 {
  float: right;
  width: 28%;
}

.pull-left-33p {
  float: left;
  padding: 1rem;
  width: 27%;
}

.pull-left-140 {
  float: left;
  width: 66%;
}

.image-50 img {
  width: 50%;
}

.image-80 img {
  width: 50%;
}

.table-40 table {
  width: 40%;
}

.table-50 table {
  width: 50%;
}

.table-60 table {
  width: 60%;
}

.table-center-header th {
  text-align: center
}

.image-bottom-0 p {
  margin-bottom: 0;
}


.table-top-0 table {
  margin-top: 0;
  font-size: 80%;
}

.caption p {
  font-size: 80%;
}

.float-left {
  float: left;
}
